#d3-module-focus, #d3-module-context {
    border: 1px solid;
    position: relative;
}

* {
    box-sizing: border-box;
}

#d3-module-container {
    display: flex;
}

#tooltip-context {
    position: fixed;
    left: 0;
    top: 0;
}

#hover-line {
    position: absolute;
    border: 1px dashed black;
    display: none;
    pointer-events: none;
    width: 100%;
}

#hover-line.active {
    display: block;
}

.hovered-element {
    fill: grey;
}